name: Test lexorank-py

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} # ci-refs/pull/<number>/merge
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3.2.0
        with:
          install: false
      - run: |
          mise install python

      - name: Install poetry
        run: pipx install poetry

      - name: Set Poetry environment
        run: poetry env use 3.10

      - name: Run tests
        run: |
          mise run install-test
          mise run test
