name: Upload lexorank-py to PyPI

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@v3.2.0
        with:
          install: false
      - run: |
          mise install python

      - name: Install poetry
        run: pipx install poetry

      - name: Set Poetry environment
        run: poetry env use 3.10

      - name: Build and Publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          mise run install-publish
          mise run publish
